@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el panel del acordeón del menú móvil */
.accordion-panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out; /* La animación! */
}

/* Clase que se añade con JS para abrir el panel */
.accordion-panel.open {
  max-height: 500px; /* Un valor lo suficientemente grande para contener los enlaces */
  transition: max-height 0.5s ease-in;
}

