---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Industrias - CCD">
    
    <!-- Aquí va el contenido específico de esta página -->
    <div class="container mx-auto px-6 py-16">
        <h1 class="font-serif text-5xl font-bold text-primary mb-4">
            Página de Industrias
        </h1>
        <p class="font-sans text-lg text-gray-700">
            Esta es la página de prueba para la sección de Industrias.
        </p>
        <p class="font-sans text-lg text-gray-700 mt-2">
            Si todo es correcto, el enlace "Industrias" en el menú de navegación principal debería estar resaltado en color rojo
        </p>
    </div>

</Layout>